:root {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
}

.swiper {
    left: 0;
    width: 100%;
    max-height: 600px;
    min-height: 250px;

    img {
        object-fit: cover;
        min-height: 250px;
        max-height: 600px;
        width: 100%;
    }
}

@media (max-width: 750px) {
    .product-page {
        display: flex !important;
        flex-direction: column;
    }
}